@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

/* tablet 0-767 */

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .adress {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /*====== 1 section HERO===== */

  .hero-tittle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    padding-bottom: 36px;
  }

  /* 2 секцція Advantage */

  .section-title-list {
    column-gap: 24px;
  }

  .item-advantage {
    width: calc((100% - 24px) / 2);
  }

  .item-advantage .title-item {
    justify-content: flex-start;
  }
  .title-text {
    max-width: 356px;
  }

  /*========= 4 section STUDIO TEAM ========*/

  .section-team > .container,
  .clients > .container {
    max-width: 582px;
  }

  .clients-item {
    width: calc((100% - 48px) / 3);
  }
}
/* Desktop 767-1158 */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /*======= 1 section ADVANTAGE =========*/

  .hero-tittle {
    padding-bottom: 48px;
  }

  /* === 2 section ADVANTAGE====== */

  .section-title-list {
    flex-wrap: nowrap;
  }

  .section-advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-svg {
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-advantage .title-item {
    width: 264px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .title-text {
    width: 264px;
    font-weight: 400;
  }

  /* ====== 3 section ====== */

  .section-comp {
    display: flex;
    padding-bottom: 120px;
  }

  .section-img-list {
    display: flex;
    gap: 24px;
  }

  .img-list-work {
    width: calc((100% - 48px) / 3);
  }

  /*====== section 4 TEAM ========*/

  .section-team > .container,
  .clients > .container {
    max-width: 1158px;
  }

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
  }

  /* ======5 section CLIENTS CUSTOMERS===== */

  .clients {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .clients-item {
    width: calc((100% - 120px) / 6);
  }
}
