/* ======MEDIA 428  =======  */

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .section-advantage {
  }

  .title-text {
  }
  .team-container {
    width: 294px;
  }
  .clients > .container {
    max-width: 552px;
  }

  /* section team */

  /* ======MEDIA 768======= */

  @media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }
  }
  /* секція 1 */
  .hero-tittle {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    padding-bottom: 36px;
  }

  /* section 2 */

  .list-advantage {
    /* width: calc((100% - 24) / 2); */
  }

  .title-item {
    display: flex;
  }

  /* section clients */
  .clients-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ======MEDIA 1158====== */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /* секція 1 */
  .hero-tittle {
    padding-bottom: 48px;
  }

  /* section team */

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* section clients */

  .section-team > .container,
  .clients > .container {
    max-width: 1158px;
  }

  .clients-item {
    width: calc((100% - 120px) / 6);
  }
  .clients {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
